<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- 图片 -->
  <img *ngIf="type=='image'" src="{{url}}" tappable (click)="showphoto()" />

  <!-- 视频 -->
  <!-- <iframe *ngIf="type=='video'" width="100%" height="400" [src]="safeUrl" frameborder=0 allowfullscreen></iframe> -->
  <video *ngIf="type=='video'" [src]="safeUrl" controls="controls" class="file-wrap" height="500" poster="assets/img/upload/play_video.jpg">
    该视频不能播放
  </video>

  <!-- 音频 -->
  <audio *ngIf="type=='audio'" [src]="safeUrl" controls="controls" class="file-wrap" poster="assets/img/upload/play_video.jpg">
    该音频不能播放
  </audio>

  <!-- 其它 -->
  <div *ngIf="type=='other'" padding>
    暂不支持此文件的查看
  </div>

</ion-content>
