<ion-header>
  <ion-toolbar>
    <ion-title>意见反馈</ion-title>
    <ion-buttons end>
      <button ion-button icon-only class="righticon">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" pullingText="下拉刷新..." refreshingText="正在刷新数据...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="myList">
    <ion-item *ngFor="let item of items, let i = index" class="item" tappable (click)="goDegtail(item)">
      <div>
        <h2 ion-text color="dark">
          {{item.title}}
        </h2>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="!hasmore" text-center margin-top class="info-bottom">没有更多</div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasmore">
    <ion-infinite-scroll-content loadingText="正在拼命加载...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>