page-monitor {
  .item-ios h2 {
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
    overflow: hidden;
    font-size: 16px;
  }
  h4{
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .menuimg{
    width:  20%;
  }
}
