page-publicity-edu {
  .myList {
    margin: 0px;
  }
  .list-ios[inset] {
    margin: 0px;
    border-radius: 4px;
  }
  img{
    height:auto;
    width: 100%;
  }
  .nopadding{
    padding: 0px !important;
  }
}
