<ion-header>
  <ion-navbar>
    <ion-title>安全提示</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <my-refresher-content></my-refresher-content>
  </ion-refresher>

  <ion-grid class="padding-none">
    <ion-row>
      <ion-col col-6 text-center class=" padding-none" [ngClass]="{'borderbottom':cindex==1}" tappable (click)="sec(1)">
        <p>中国领事服务网</p>
      </ion-col>
      <ion-col col-6 text-center class="padding-none " [ngClass]="{'borderbottom':cindex==2}" tappable (click)="sec(2)">
        <p>驻外使领馆</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="myList" inset>
    <ion-item *ngFor="let item of items, let i = index" class="item" tappable (click)="goDegtail(item)">
      <div>
        <h2 ion-text color="dark">
          {{item.title}}
        </h2>
        <p>
          <span>{{item.createtime}}</span>
        </p>
      </div>
    </ion-item>
  </ion-list>

  <no-more [hasMore]="hasmore"></no-more>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="hasmore">
    <my-infinite-scroll-content></my-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
