page-feed-back {
    .mytextrea {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        border: 1px solid #cccccc;
        padding-left: 10px;
    }
    .mybutton {
        width: 90%;
        margin-left: 5%;
        margin-top: 60px;
      background-color: #1f83df;;
    }
}
