page-report-event {
  .uploadcolor{
    background-color: #FCF8E3;
    color: #976D67;
  }
  .newmess{
    width: 4px;
    background: #1f83df;
    height: 20px;
    border-radius: 5px;
    position: relative;
    top: 20px;
  }
  .mleft{
    margin-left: 10px;
  }
  .pacolor{
    color: #B8B8B8;
  }
  .posimg{
    width: 16px;
    height: 20px;
  }
  .add{
    width: 16px;
    height: 16px;
  }
  .addimg{
    margin-top: 30px !important;
  }
}
