page-user-info-view {
    .avtor {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    ion-label[fixed] {
        min-width: 130px;
    }
    .mybutton {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
      background-color:#1f83df;;
    }
}
