page-find-password {
    .verification {
        position: absolute;
        right: 0;
        top: 50px;
      background-color: #E6E6E6;
      color: #333333;
    }
    .dangerinfo {
        color: red;
    }
}
